
.Table {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
td, th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
}
.color1 {
    background-color: #D0E4F5;
}
.platezh_table_header, .platezh_table_footer {
    background-color: #1C6EA4;
    color: #FFFFFF;
}
